openapi: '3.0.2'
info:
  title: JCloudify Api
  version: 'latest'
servers:
  - url: https://jcloudify-api.preprod.hei.school

paths:
  /ping:
    get:
      tags:
        - Health
      operationId: ping
      responses:
        '200':
          description: pong
          content:
            text/plain:
              schema:
                type: string
                example: pong
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /whoami:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Security
      summary: Who am I? Tells you who you are.
      operationId: whoami
      responses:
        '200':
          description: Who you are
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Whoami'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /token:
    get:
      tags:
        - Security
      summary: Exchange Github code into token
      operationId: exchangeCode
      parameters:
        - in: query
          name: code
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Github access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users:
    post:
      tags:
        - User
      summary: User signup
      operationId: createUser
      requestBody:
        required: true
        description: The users to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateUser'
      responses:
        '200':
          description: The created user accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications:
    get:
      security:
        - bearerAuth: [ ]
      parameters:
        - name: name
          in: query
          description: Filter applications by name, case insensitive
          schema:
            type: string
        - name: user_id
          in: query
          description: Filter applications by the id of the user who owns it
          schema:
            type: string
      tags:
        - Application
      operationId: getApplications
      summary: Get all applications
      responses:
        '200':
          description: List of all applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: crupdateApplications
      summary: Create or update applications
      description: update if id is provided, create otherwise.
      requestBody:
        required: true
        description: Application to crupdate
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ApplicationBase'
      responses:
        '200':
          description: The created applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{applicationId}:
    parameters:
      - $ref: '#/components/parameters/applicationId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: getApplicationById
      summary: Get an application by identifier
      responses:
        '200':
          description: The specified application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{applicationId}/environments:
    parameters:
      - $ref: '#/components/parameters/applicationId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: getApplicationEnvironments
      summary: Get environment list of an application
      responses:
        '200':
          description: List of environments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: crupdateApplicationEnvironments
      summary: Crupdate environments of an application
      requestBody:
        description: >
          - All application relative properties such as SSM parameters are computed from the environment's application
          - Ressource relative properties are linked to the plan of the Environment and can be set by using a different endpoint for plan upgrade with enum values such as 1024 or 2048 for memory, etc...
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CrupdateEnvironment'
        required: true
      responses:
        '200':
          description: The crupdated environments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{applicationId}/environments/{environmentId}/deploymentInitiation:
    parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      summary: Initiate stack deployment
      operationId: InitiateStackDeployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InitiateDeployment'
      responses:
        '200':
          description: Deployment successfully initiated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stack'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{applicationId}/environments/{environmentId}/variables:
    parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: getApplicationEnvironmentVariables
      summary: Get environment variables of an environment
      responses:
        '200':
          description: List of environment variables
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentVariable'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: crupdateApplicationEnvironmentVariables
      summary: Crupdate environment variables
      description: update if id is provided, create otherwise.
      requestBody:
        required: true
        description: Environment variable to crupdate
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CrupdateEnvironmentVariable'
      responses:
        '200':
          description: The created environment variables
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentVariable'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{applicationId}/environments/{environmentId}/variables/{variableId}:
    parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/variableId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: getApplicationEnvironmentVariableById
      summary: Get a environment variables by identifier
      responses:
        '200':
          description: The specified environment variable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{applicationId}/environments/{environmentId}/logs:
    parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    get:
      security:
        - bearerAuth: [ ]
      parameters:
        - name: log_type
          in: query
          description: Filter logs by log type, case insensitive
          schema:
            type: string
        - name: start_date_time
          in: query
          description: Filter logs within a date and time range, must be used together with `end_date`
          schema:
            type: string
            format: date-time
        - name: end_date_time
          in: query
          description: Filter logs within a date and time range, must be used together with `start_date`
          schema:
            type: string
            format: date-time
      tags:
        - Application
      operationId: getEnvironmentLogs
      summary: Get the logs of an environment
      responses:
        '200':
          description: List of logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Log'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{applicationId}/environments/{environmentId}/logs/{logId}:
    parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/logId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: getEnvironmentLogById
      summary: Get a logs by identifier
      responses:
        '200':
          description: The specified log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    applicationId:
      name: applicationId
      in: path
      description: The identifier of the application
      schema:
        type: string
      required: true
    environmentId:
      name: environmentId
      in: path
      description: The identifier of the environment
      schema:
        type: string
      required: true
    logId:
      name: logId
      in: path
      description: The identifier of the log of the specified environment
      schema:
        type: string
      required: true
    variableId:
      name: variableId
      in: path
      description: The identifier of the environment variable of the specified application
      schema:
        type: string
      required: true

  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestException'
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotAuthorizedException'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceNotFoundException'
    '429':
      description: Too many requests to the API
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TooManyRequestsException'
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalServerException'

  schemas:
    token:
      properties:
        access_token:
          type: string
        token_type:
          type: string
    CreateUser:
      type: object
      properties:
        first_name:
          type: string
          example: Hajatiana
        last_name:
          type: string
          example: Randrianary
        email:
          type: string
          format: email
        token:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
          example: leonardo
        email:
          type: string
          format: email
        role:
          type: string
          enum:
            - USER
            - ADMIN
        github_id:
          type: string
        avatar:
          type: string
        first_name:
          type: string
          example: Hajatiana
        last_name:
          type: string
          example: Randrianary
    Whoami:
      properties:
        user:
          $ref: '#/components/schemas/User'

    ApplicationBase:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        archived:
          type: boolean
          default: false
        user_id:
          type: string
        github_repository:
          type: string
          example: https://github.com/testUser/testRepo

    Application:
      allOf:
        - $ref: '#/components/schemas/ApplicationBase'
      properties:
        creation_datetime:
          type: string
          format: date-time
        environments:
          type: array
          items:
            $ref: '#/components/schemas/Environment'

    EnvironmentType:
      type: string
      enum:
        - PROD
        - PREPROD

    ConcurrencyConf:
      type: object
      properties:
        frontal_reserved_concurrent_executions_nb:
          type: string
        worker_reserved_concurrent_executions_nb:
          type: string

    ComputeConf:
      type: object
      properties:
        frontal_memory:
          type: number
          example: 2048
        worker_memory:
          type: number
          example: 1024
        worker_batch:
          type: number
          example: 5

    AuroraConf:
      type: object
      properties:
        aurora_min_capacity:
          type: number
        aurora_max_capacity:
          type: number
        aurora_scale_point:
          type: number
        aurora_sleep:
          type: number
          example: 300
        aurora_auto_pause:
          type: boolean
          example: false

    ClientConf:
      type: object
      properties:
        ts_client_default_openapi_server_url:
          type: string
        ts_client_api_url_env_var_name:
          type: string

    DatabaseConf:
      type: object
      properties:
        database_non_root_username:
          type: string
        database_non_root_password:
          type: string
        prod_db_cluster_timeout:
          type: number
          example: 300

    CustomConf:
      type: object
      properties:
        custom_java_repositories:
          type: string
          format: binary
        custom_java_deps:
          type: string
          format: binary
        custom_java_env_vars:
          type: string
          format: binary

    PojaConf:
      type: object
      properties:
        with_snapstart:
          type: boolean
          example: false
        ses_source:
          type: string
          example: "noreply@nowhere.com"
        with_swagger_ui:
          type: boolean
          example: false
        package_full_name:
          type: string
          example: "school.hei"
        java_facade_it:
          type: string
          example: "FacadeIT"
        with_gen_clients:
          type: boolean
          example: false
        with_database:
          type: string
          example: "sqlite"
        jacoco_min_coverage:
          type: number
          example: 0.8
        with_publish_to_npm_registry:
          type: boolean
          example: false
        with_sentry:
          type: boolean
          example: false
        with_sonar:
          type: boolean
          example: false
        with_codeql:
          type: boolean
          example: false
        concurrency:
          $ref: '#/components/schemas/ConcurrencyConf'
        compute:
          $ref: '#/components/schemas/ComputeConf'
        aurora:
          $ref: '#/components/schemas/AuroraConf'
        database:
          $ref: '#/components/schemas/DatabaseConf'
        custom:
          $ref: '#/components/schemas/CustomConf'
        client:
          $ref: '#/components/schemas/ClientConf'

    Environment:
      allOf:
        - $ref: '#/components/schemas/CrupdateEnvironment'
      type: object
      properties:
        state:
          type: string
          enum:
            - HEALTHY
            - UNHEALTHY

    CrupdateEnvironment:
      type: object
      properties:
        id:
          type: string
        environment_type:
          $ref: '#/components/schemas/EnvironmentType'
        archived:
          type: boolean
          default: false
        conf:
          $ref: '#/components/schemas/PojaConf'
        plan:
          $ref: "#/components/schemas/Plan"

    EnvironmentVariable:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: ENV_EXAMPLE
        value:
          type: string
        archived:
          type: boolean
          default: false
    CrupdateEnvironmentVariable:
      allOf:
        - $ref: '#/components/schemas/EnvironmentVariable'
      properties:
        environmentId:
          type: string
    Log:
      type: object
      properties:
        id:
          type: string
        log_file_uri:
          type: string
          example: https://examplebucket.s3.eu-west-3.amazonaws.com/logfile
        log_datetime:
          type: string
          format: date-time
        log_type:
          type: string
          enum:
            - DEPLOYMENT_LOG
            - APPLICATION_LOG
    Plan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        monthly_cost:
          type: number
        yearly_cost:
          type: number
    InitiateDeployment:
      type: object
      properties:
        stack_type:
          $ref: '#/components/schemas/StackType'
    Stack:
      allOf:
        - $ref: '#/components/schemas/InitiateDeployment'
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        cf_stack_id:
          type: string
        application:
          $ref: '#/components/schemas/ApplicationBase'
        environment:
          $ref: '#/components/schemas/Environment'
    StackType:
      type: string
      enum:
        - EVENT
        - COMPUTE_PERMISSION
        - STORAGE_BUCKET
        - STORAGE_DATABASE_POSTGRES
        - STORAGE_DATABASE_SQLITE
    Exception:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    BadRequestException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: BadRequestException
        message: Bad request
    NotAuthorizedException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: NotAuthorizedException
        message: Not authorized
    ResourceNotFoundException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: ResourceNotFoundException
        message: Resource of type <T> identified by <I> not found
    TooManyRequestsException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: TooManyRequestsException
        message: Too many requests
    InternalServerException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: InternalServerException
        message: Unexpected error
