openapi: '3.0.2'
info:
  title: JCloudify Api
  version: 'latest'
servers:
  - url: https://api.preprod.jcloudify.com

paths:
  /ping:
    get:
      tags:
        - Health
      operationId: ping
      responses:
        '200':
          description: pong
          content:
            text/plain:
              schema:
                type: string
                example: pong
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /whoami:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Security
      summary: Who am I? Tells you who you are.
      operationId: whoami
      responses:
        '200':
          description: Who you are
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Whoami'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /token:
    get:
      tags:
        - Security
      summary: Exchange Github code into token
      operationId: exchangeCode
      parameters:
        - in: query
          name: code
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Github access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
        - Security
      summary: Refresh a token
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
        required: true
      responses:
        '200':
          description: Github access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /gh-repos/{repo_owner}/{repo_name}/upload-build-uri:
    get:
      tags:
        - Env_Deploy
      summary: creates an URI for zip package build upload
      operationId: createFileUploadUri
      parameters:
        - name: repo_owner
          description: github repository owner containing the app
          schema:
            type: string
          required: true
          in: path
        - name: repo_name
          description: github repository name containing the app
          schema:
            type: string
          required: true
          in: path
        - name: environment_type
          description: environment type
          schema:
            $ref: "#/components/schemas/EnvironmentType"
          required: true
          in: query
      responses:
        '200':
          description: the presigned code uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildUploadRequestResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /gh-repos/{repo_owner}/{repo_name}/env-deploys:
    put:
      tags:
        - Env_Deploy
      summary: deploys all of the app env stacks
      operationId: deployEnv
      parameters:
        - name: repo_owner
          description: github repository owner containing the app
          schema:
            type: string
          required: true
          in: path
        - name: repo_name
          description: github repository name containing the app
          schema:
            type: string
          required: true
          in: path
        - name: environment_type
          description: environment type
          schema:
            $ref: "#/components/schemas/EnvironmentType"
          required: true
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuiltEnvInfo"
      responses:
        '200':
          description: OK if the deployment request has no issue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuiltEnvInfo"
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /users:
    post:
      tags:
        - User
      summary: User signup
      operationId: createUser
      requestBody:
        required: true
        description: The users to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUsersRequestBody"
      responses:
        '200':
          description: The created user accounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUsersResponse"
        '400':
          $ref: '#/components/responses/400'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /poja-versions:
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - PojaVersions
      operationId: getPojaVersions
      summary: get all ready poja versions
      responses:
        '200':
          description: the poja versions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PojaVersionsResponse"
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /users/{userId}/installations:
    parameters:
      - $ref: "#/components/parameters/userId"
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - GithubAppInstallation
      operationId: getUserInstallations
      summary: get all user installations of jcloudify app
      responses:
        '200':
          description: list of installations
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/GithubAppInstallationsResponse"
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - GithubAppInstallation
      operationId: crupdateGithubAppInstallations
      summary: for each installation, it will create if id exist, update it otherwise
      requestBody:
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/CrupdateGithubAppInstallationsRequestBody"
      responses:
        '200':
          description: created or updated installations
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/CrupdateGithubAppInstallationsResponse"
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /users/{userId}/applications:
    parameters:
      - $ref: '#/components/parameters/userId'
    get:
      security:
        - bearerAuth: [ ]
      parameters:
        - name: name
          in: query
          description: Filter applications by name, case insensitive
          schema:
            type: string
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      tags:
        - Application
      operationId: getApplications
      summary: Get all applications
      responses:
        '200':
          description: paged list of applications
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedApplicationsResponse"
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: crupdateApplications
      summary: Create or update applications
      requestBody:
        required: true
        description: Application to crupdate
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrupdateApplicationsRequestBody"
      responses:
        '200':
          description: The created applications
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrupdateApplicationsResponse"
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: getApplicationById
      summary: Get an application by identifier
      responses:
        '200':
          description: The specified application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: getApplicationEnvironments
      summary: Get environment list of an application
      description: list of environments, pagination was omitted because we might not have that many environments for a single app
      responses:
        '200':
          description: list of environments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentsResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: crupdateApplicationEnvironments
      summary: Crupdate environments of an application.
      description: for each environment in the payload, it creates an environment if given id exists, updates it otherwise
      requestBody:
        description: >
          - All application relative properties such as SSM parameters are computed from the environment's application
          - Resource relative properties are linked to the plan of the Environment and can be set by using a different endpoint for plan upgrade with enum values such as 1024 or 2048 for memory, etc...
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrupdateEnvironmentsRequestBody'
        required: true
      responses:
        '200':
          description: The crupdated environments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrupdateEnvironmentsResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: getApplicationEnvironmentById
      summary: Get an environment by its identifier
      responses:
        '200':
          description: the specified environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/config:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: getApplicationEnvironmentConfig
      summary: Get the config of an environment
      responses:
        '200':
          description: the config for the queried environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOfPojaConf'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      tags:
        - Environment
      operationId: configureApplicationEnv
      summary: configure an application's environment
      security:
        - bearerAuth: [ ]
      requestBody:
        description: the config to apply
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/OneOfPojaConf"
      responses:
        '200':
          description: the applied config
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/OneOfPojaConf"
  /users/{userId}/applications/{applicationId}/deployments:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - name: environmentType
        in: query
        required: false
        schema:
          $ref: "#/components/schemas/EnvironmentType"
      - name: startDatetime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endDatetime
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - $ref: "#/components/parameters/page"
      - $ref: "#/components/parameters/page_size"
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: getApplicationDeployments
      summary: Get application deployments, ordered by creationDatetime
      responses:
        '200':
          description: Application deployments ordered by creation datetime
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedDeploymentsResponse"
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /users/{userId}/applications/{applicationId}/deployments/{deploymentId}:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/deploymentId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Application
      operationId: getApplicationDeployment
      summary: Get a specific application deployment
      responses:
        '200':
          description: the queried deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEnvDeployment'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /users/{userId}/applications/{applicationId}/deployments/{deploymentId}/config:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/deploymentId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: getApplicationDeploymentConfig
      summary: Get a specific application deployment config
      responses:
        '200':
          description: the config for the queried deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOfPojaConf'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /users/{userId}/applications/{applicationId}/environments/{environmentId}/deletionInitiation:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - Stack
      summary: Delete existing stacks
      operationId: initiateStackDeletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateStackDeletionRequestBody'
      responses:
        '200':
          description: Deployment successfully initiated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitiateStackDeletionResponse"
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /users/{userId}/applications/{applicationId}/environments/{environmentId}/deploymentInitiation:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Stack
      summary: Update if stack already exists, create new one otherwise
      description: Only COMPUTE_PERMISSION, EVENT, STORAGE_BUCKET, STORAGE_DATABASE_SQLITE stack type crupdate can be manually triggered
      operationId: initiateStackDeployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitiateStackDeploymentRequestBody"
      responses:
        '200':
          description: Deployment successfully initiated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitiateStackDeploymentResponse"
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/stacks:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Stack
      operationId: getEnvironmentStacks
      summary: Get list of stacks for a given environment
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        '200':
          description: paged list of stacks of an environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedStacksResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/stacks/{stackId}:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/stackId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Stack
      operationId: getStackById
      summary: Get the identified stack
      responses:
        '200':
          description: The identified stack
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stack'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/stacks/{stackId}/events:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/stackId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Stack
      operationId: getStackEvents
      summary: Get detailed events of a the identified stack
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        '200':
          description: paged list of stack events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedStackEvents'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/stacks/{stackId}/outputs:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/stackId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Stack
      operationId: getStackOutputs
      summary: Get outputs of a the identified stack
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        '200':
          description: paged list of stack outputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedStackOutputs'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/computeStackResources:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Stack
      operationId: getComputeStackResources
      summary: Get function names of an environment compute stack
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        '200':
          description: paged list of an environment compute stack
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedComputeStackResource'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/variables:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: getApplicationEnvironmentVariables
      summary: Get environment variables of an environment
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        '200':
          description: paged list of environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedEnvironmentVariables'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: crupdateApplicationEnvironmentVariables
      summary: Crupdate environment variables
      description: update if id is provided, create otherwise.
      requestBody:
        required: true
        description: Environment variable to crupdate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrupdateEnvironmentVariablesRequestBody'
      responses:
        '200':
          description: The created environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrupdateEnvironmentVariablesResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/variables/{variableId}:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/variableId'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: getApplicationEnvironmentVariableById
      summary: Get a environment variables by identifier
      responses:
        '200':
          description: The specified environment variable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /users/{userId}/applications/{applicationId}/environments/{environmentId}/ssmparameters:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
    get:
      security:
        - bearerAuth: [ ]
      parameters:
        - name: name
          in: query
          description: Filter ssm parameters by name
          schema:
            type: string
          required: false
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      tags:
        - Environment
      operationId: getApplicationEnvironmentSsmParameters
      summary: Get list of ssm parameters and their values by environment
      responses:
        '200':
          description: Get list of ssm parameters for an application environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedEnvironmentSsmParameters'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: createApplicationEnvironmentSsmParameters
      summary: create ssm parameters for an application environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEnvironmentSsmParameters'
        required: true
      responses:
        '200':
          description: The created ssm parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/crupdateEnvironmentSsmParametersResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: updateApplicationEnvironmentSsmParameters
      summary: update ssm parameters for an application environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEnvironmentSsmParameters'
        required: true
      responses:
        '200':
          description: The updated ssm parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/crupdateEnvironmentSsmParametersResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/functions/{functionName}/logGroups:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/functionName'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: getFunctionLogGroups
      summary: Get an environment's function log groups
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        '200':
          description: paged list of environment's function log groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedLogGroups'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/functions/{functionName}/logStreams:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/functionName'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: getFunctionLogStreams
      summary: Get log streams of a given log group
      parameters:
        - $ref: '#/components/parameters/logGroupName'
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        '200':
          description: paged list of log streams of a given log group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedLogStreams'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/applications/{applicationId}/environments/{environmentId}/functions/{functionName}/logStreamEvents:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/environmentId'
      - $ref: '#/components/parameters/functionName'
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Environment
      operationId: getFunctionLogStreamEvents
      summary: Get log event of a given log stream
      parameters:
        - $ref: '#/components/parameters/logGroupName'
        - $ref: '#/components/parameters/logStreamName'
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        '200':
          description: paged list of log events of a given log stream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedLogStreamEvents'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/{userId}/payment-details/payment-methods:
    parameters:
      - $ref: "#/components/parameters/userId"
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Payment
      operationId: getPaymentMethods
      summary: Get customer's payment methods
      responses:
        '200':
          description: List of customer's payment methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Payment
      operationId: managePaymentMethods
      summary: Manage user's payment methods
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodsAction"
      responses:
        '200':
          description: Updated payment methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /users/{userId}/payment-details:
    parameters:
      - $ref: "#/components/parameters/userId"
    get:
      security:
        - bearerAuth: [ ]
      tags:
        - Payment
      operationId: getCustomer
      summary: Get payment details from payment service provider
      responses:
        '200':
          description: paymnet service customer object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomer'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: [ ]
      tags:
        - Payment
      operationId: updatePaymentCustomer
      summary: Update Customer in payment service provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentCustomer"
      responses:
        '200':
          description: Updated payment customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomer'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    userId:
      name: userId
      in: path
      description: The identifier of the user
      schema:
        type: string
      required: true
    applicationId:
      name: applicationId
      in: path
      description: The identifier of the application
      schema:
        type: string
      required: true
    environmentId:
      name: environmentId
      in: path
      description: The identifier of the environment
      schema:
        type: string
      required: true
    functionName:
      name: functionName
      in: path
      description: The physical resource name of the lambda function
      schema:
        type: string
        example: prod-compute-jcloudify-poja-app-FrontalFunction-rPbLaYfitwSO
      required: true
    logGroupName:
      name: logGroupName
      in: query
      description: The physical resource name of the log group
      schema:
        type: string
        example: /aws/lambda/prod-compute-jcloudify-poja-app-FrontalFunction-rPbLaYfitwSO
      required: true
    logStreamName:
      name: logStreamName
      in: query
      description: The physical resource name of the log stream
      schema:
        type: string
        example: 2024/01/01/[$LATEST]12345
      required: true
    logId:
      name: logId
      in: path
      description: The identifier of the log of the specified environment
      schema:
        type: string
      required: true
    variableId:
      name: variableId
      in: path
      description: The identifier of the environment variable of the specified application
      schema:
        type: string
      required: true
    stackId:
      name: stackId
      in: path
      description: The identifier of the stack of a given environment
      schema:
        type: string
      required: true
    page:
      name: page
      in: query
      description: page number
      schema:
        type: integer
        minimum: 1
        default: 1
    page_size:
      name: page_size
      in: query
      description: page_size
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 30
    deploymentId:
      name: deploymentId
      in: path
      description: deploymentId
      required: true
      schema:
        type: string
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestException'
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotAuthorizedException'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceNotFoundException'
    '429':
      description: Too many requests to the API
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TooManyRequestsException'
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalServerException'

  schemas:
    #############################################
    ###############  Components #################
    #############################################
    RefreshToken:
      type: object
      properties:
        refresh_token:
          type: string
    Token:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
    CreateUser:
      type: object
      properties:
        first_name:
          type: string
          example: Hajatiana
        last_name:
          type: string
          example: Randrianary
        email:
          type: string
          format: email
        token:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
          example: leonardo
        email:
          type: string
          format: email
        role:
          type: string
          enum:
            - USER
            - ADMIN
        github_id:
          type: string
        avatar:
          type: string
        first_name:
          type: string
          example: Hajatiana
        last_name:
          type: string
          example: Randrianary
        plan_name:
          type: string
        stripe_id:
          type: string

    Whoami:
      properties:
        user:
          $ref: '#/components/schemas/User'

    ApplicationBase:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        archived:
          type: boolean
          default: false
        user_id:
          type: string
        github_repository:
          $ref: "#/components/schemas/GithubRepository"

    GithubRepository:
      type: object
      properties:
        name:
          type: string
        is_private:
          type: boolean
        description:
          type: string
        installation_id:
          type: string

    Application:
      allOf:
        - $ref: '#/components/schemas/ApplicationBase'
      properties:
        creation_datetime:
          type: string
          format: date-time
        environments:
          type: array
          items:
            $ref: '#/components/schemas/Environment'
        repositoryUrl:
          type: string

    EnvironmentType:
      type: string
      enum:
        - PROD
        - PREPROD
    DeploymentCreator:
      type: object
      properties:
        email:
          type: string
        username:
          type: string
        github_id:
          type: string
        avatar_url:
          type: string
    GithubMeta:
      type: object
      properties:
        commit_branch:
          type: string
        commit_author_name:
          type: string
        commit_message:
          type: string
        commit_sha:
          type: string
        org:
          type: string
        repo_name:
          type: string
        repo_owner_type:
          type: string
        repo_id:
          type: string
        is_repo_private:
          type: boolean
        repo_url:
          type: string
          format: uri
    AppEnvDeployment:
      type: object
      properties:
        id:
          type: string
        github_meta:
          $ref: "#/components/schemas/GithubMeta"
        creator:
          $ref: "#/components/schemas/DeploymentCreator"
        application_id:
          type: string
        environment_id:
          type: string
        deployed_url:
          type: string
          format: uri
        creation_datetime:
          type: string
          format: date-time

    ##############################################################
    ###############  Poja Configurations #########################
    ##############################################################
    PojaVersionDiscriminator:
      description: will be the discriminator, possible values are the ones available as poja_version
      type: string

    PojaConf:
      type: object
      description: will serve to type all poja confs
      properties:
        version:
          $ref: "#/components/schemas/PojaVersionDiscriminator"
      discriminator:
        propertyName: 'version'
        mapping:
          '3.6.2': '#/components/schemas/PojaConf1'
      required:
        - version

      ##############################################################
      ###############  Poja Conf 1 ###########################
      ##############################################################
    ConcurrencyConf1:
      type: object
      properties:
        frontal_reserved_concurrent_executions_nb:
          type: integer
          nullable: true
        worker_reserved_concurrent_executions_nb:
          type: integer
          nullable: true

    ComputeConf1:
      type: object
      properties:
        frontal_memory:
          type: number
          example: 2048
        frontal_function_timeout:
          type: number
          example: 30
        worker_memory:
          type: number
          example: 1024
        worker_batch:
          type: number
          example: 5
        worker_function_1_timeout:
          type: number
          example: 600
        worker_function_2_timeout:
          type: number
          example: 600

    DatabaseConf1:
      type: object
      properties:
        with_database:
          type: string
          enum:
            - NONE
            - SQLITE
            - AURORA_POSTGRES
            - NON_POJA_MANAGED_POSTGRES
        database_non_root_username:
          type: string
          nullable: true
        database_non_root_password:
          type: string
          nullable: true
        prod_db_cluster_timeout:
          type: number
          nullable: true
          example: 300
        aurora_min_capacity:
          type: number
          nullable: true
        aurora_max_capacity:
          type: number
          nullable: true
        aurora_scale_point:
          type: number
          nullable: true
        aurora_sleep:
          type: number
          nullable: true
          example: 300
        aurora_auto_pause:
          type: boolean
          example: false
          nullable: true

    StringMap:
      type: object
      additionalProperties:
        type: string

    StringList:
      type: array
      items:
        type: string

    WithQueuesNbEnum:
      type: number
      enum:
        - 0
        - 1
        - 2
    GeneralPojaConf1:
      type: object
      properties:
        app_name:
          type: string
        with_snapstart:
          type: boolean
        with_queues_nb:
          $ref: "#/components/schemas/WithQueuesNbEnum"
        package_full_name:
          type: string
        custom_java_repositories:
          $ref: "#/components/schemas/StringList"
        custom_java_deps:
          $ref: "#/components/schemas/StringList"
        custom_java_env_vars:
          $ref: "#/components/schemas/StringMap"
    GenApiClient1:
      type: object
      properties:
        aws_account_id:
          type: string
          nullable: true
        with_publish_to_npm_registry:
          type: boolean
        ts_client_default_openapi_server_url:
          type: string
          nullable: true
        ts_client_api_url_env_var_name:
          type: string
          nullable: true
        codeartifact_repository_name:
          type: string
          nullable: true
        codeartifact_domain_name:
          type: string
          nullable: true
    Integration1:
      type: object
      properties:
        with_sentry:
          type: boolean
          example: false
        with_sonar:
          type: boolean
          example: false
        with_codeql:
          type: boolean
          example: false
        with_file_storage:
          type: boolean
          example: false
        with_swagger_ui:
          type: boolean
          example: false
    TestingConf1:
      type: object
      properties:
        java_facade_it:
          type: string
          example: "FacadeIT"
        jacoco_min_coverage:
          type: number
          example: 0.8
    MailingConf1:
      properties:
        ses_source:
          type: string
          example: "noreply@nowhere.com"
          nullable: true

    PojaConf1:
      type: object
      allOf:
        - $ref: "#/components/schemas/PojaConf"
      required:
        - version
      properties:
        version:
          $ref: "#/components/schemas/PojaVersionDiscriminator"
        general:
          $ref: "#/components/schemas/GeneralPojaConf1"
        integration:
          $ref: "#/components/schemas/Integration1"
        gen_api_client:
          $ref: "#/components/schemas/GenApiClient1"
        concurrency:
          $ref: '#/components/schemas/ConcurrencyConf1'
        compute:
          $ref: '#/components/schemas/ComputeConf1'
        emailing:
          $ref: "#/components/schemas/MailingConf1"
        testing:
          $ref: "#/components/schemas/TestingConf1"
        database:
          $ref: '#/components/schemas/DatabaseConf1'
      ##############################################################
      ###############  Poja Conf 1 ###########################
      ##############################################################
    ##############################################################
    ###############  Poja Configurations #########################
    ##############################################################
    Environment:
      allOf:
        - $ref: '#/components/schemas/CrupdateEnvironment'
      type: object
      properties:
        state:
          type: string
          enum:
            - HEALTHY
            - UNHEALTHY
            - UNKNOWN

    CrupdateEnvironment:
      type: object
      properties:
        id:
          type: string
        environment_type:
          $ref: '#/components/schemas/EnvironmentType'
        archived:
          type: boolean
          default: false

    ComputeStackResource:
      type: object
      properties:
        id:
          type: string
        environment_id:
          type: string
        frontal_function_name:
          type: string
        worker_1_function_name:
          type: string
        worker_2_function_name:
          type: string
        creation_datetime:
          type: string
          format: date-time

    LogGroup:
      type: object
      properties:
        name:
          type: string
        creation_datetime:
          type: string
          format: date-time

    LogStream:
      type: object
      properties:
        name:
          type: string
        creation_datetime:
          type: string
          format: date-time
        first_event_datetime:
          type: string
          format: date-time
        last_event_datetime:
          type: string
          format: date-time
    LogStreamEvent:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
    EnvironmentVariable:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: ENV_EXAMPLE
        value:
          type: string
        archived:
          type: boolean
          default: false
    CrupdateEnvironmentVariable:
      allOf:
        - $ref: '#/components/schemas/EnvironmentVariable'
      properties:
        environmentId:
          type: string
    CreateSsmParameter:
      type: object
      properties:
        name:
          type: string
          example: /poja/app/env/name
        value:
          type: string
    SsmParameter:
      allOf:
        - $ref: '#/components/schemas/CreateSsmParameter'
      type: object
      properties:
        id:
          type: string
    Log:
      type: object
      properties:
        id:
          type: string
        log_file_uri:
          type: string
          example: https://examplebucket.s3.eu-west-3.amazonaws.com/logfile
        log_datetime:
          type: string
          format: date-time
        log_type:
          type: string
          enum:
            - DEPLOYMENT_LOG
            - APPLICATION_LOG

    StackDeployment:
      type: object
      properties:
        stack_type:
          $ref: '#/components/schemas/StackType'
    Stack:
      allOf:
        - $ref: '#/components/schemas/StackDeployment'
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        cf_stack_id:
          type: string
        creation_datetime:
          type: string
          format: date-time
        update_datetime:
          type: string
          format: date-time
        application:
          $ref: '#/components/schemas/ApplicationBase'
        environment:
          $ref: '#/components/schemas/Environment'
        archived:
          type: boolean
          default: false
    StackType:
      type: string
      enum:
        - EVENT
        - COMPUTE_PERMISSION
        - STORAGE_BUCKET
        - STORAGE_DATABASE_SQLITE
        - COMPUTE
    StackEvent:
      type: object
      properties:
        event_id:
          type: string
        logical_resource_id:
          type: string
          description: The AWS identifier of the resource
        resource_type:
          type: string
        timestamp:
          type: string
          format: date-time
        resource_status:
          $ref: '#/components/schemas/StackResourceStatusType'
        status_message:
          type: string
          description: Detailed reason of the status
    StackResourceStatusType:
      type: string
      enum:
        - CREATE_IN_PROGRESS
        - CREATE_FAILED
        - CREATE_COMPLETE
        - DELETE_IN_PROGRESS
        - DELETE_FAILED
        - DELETE_COMPLETE
        - DELETE_SKIPPED
        - UPDATE_IN_PROGRESS
        - UPDATE_FAILED
        - UPDATE_COMPLETE
        - IMPORT_FAILED
        - IMPORT_COMPLETE
        - IMPORT_IN_PROGRESS
        - IMPORT_ROLLBACK_IN_PROGRESS
        - IMPORT_ROLLBACK_FAILED
        - IMPORT_ROLLBACK_COMPLETE
        - UPDATE_ROLLBACK_IN_PROGRESS
        - UPDATE_ROLLBACK_COMPLETE
        - UPDATE_ROLLBACK_FAILED
        - ROLLBACK_IN_PROGRESS
        - ROLLBACK_COMPLETE
        - ROLLBACK_FAILED
        - UNKNOWN_TO_SDK_VERSION
    StackOutput:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        description:
          type: string

    PojaVersion:
      type: object
      properties:
        major:
          type: integer
        minor:
          type: integer
        patch:
          type: integer
        human_readable_value:
          type: string
    CreateGithubAppInstallation:
      type: object
      properties:
        id:
          type: string
        gh_installation_id:
          type: integer
          format: int64
    GithubAppInstallation:
      type: object
      allOf:
        - $ref: "#/components/schemas/CreateGithubAppInstallation"
      properties:
        owner:
          type: string
        type:
          type: string
        gh_avatar_url:
          type: string
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        brand:
          type: string
        last4:
          type: string
    PaymentMethodsAction:
      type: object
      properties:
        payment_method_id:
          type: string
        action:
          type: string
          enum:
            - ATTACH
            - DETACH
        set_default:
          type: boolean
          default: false
    BuildUploadRequestResponse:
      type: object
      properties:
        build_template_file_uri:
          type: string
          format: uri
        uri:
          type: string
          format: uri
        filename:
          type: string
    PaymentCustomer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        default_payment_method:
          $ref: "#/components/schemas/PaymentMethod"
    BuiltEnvInfo:
      type: object
      properties:
        formatted_bucket_key:
          type: string
        id:
          type: string
        environment_type:
          $ref: "#/components/schemas/EnvironmentType"
    ##############################################################
    ###############  RequestBodies And Responses #################
    ##############################################################
    PagedResponse:
      type: object
      properties:
        page_size:
          type: integer
        page_number:
          type: integer
        has_previous:
          type: boolean
        count:
          type: integer
    CreateUsersRequestBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CreateUser"
    CreateUsersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/User"
    PagedApplicationsResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Application"
    CrupdateApplicationsRequestBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ApplicationBase"
    CrupdateApplicationsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Application"
    InitiateStackDeploymentRequestBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/StackDeployment"
    InitiateStackDeploymentResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Stack"
    InitiateStackDeletionRequestBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/StackDeployment"
    InitiateStackDeletionResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Stack"
    EnvironmentsResponse:
      type: object
      allOf:
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Environment"
    CrupdateEnvironmentsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Environment"
    CrupdateEnvironmentsRequestBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CrupdateEnvironment"
    PagedEnvironmentVariables:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/EnvironmentVariable"
    PagedComputeStackResource:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ComputeStackResource"
    PagedLogGroups:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/LogGroup"
    PagedLogStreams:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/LogStream"
    PagedLogStreamEvents:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/LogStreamEvent"
    CrupdateEnvironmentVariablesRequestBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CrupdateEnvironmentVariable"
    CrupdateEnvironmentVariablesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/EnvironmentVariable"
    createEnvironmentSsmParameters:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CreateSsmParameter'
    updateEnvironmentSsmParameters:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SsmParameter'
    crupdateEnvironmentSsmParametersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SsmParameter'
    PagedEnvironmentSsmParameters:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/SsmParameter'
    GithubAppInstallationsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/GithubAppInstallation"
    CrupdateGithubAppInstallationsRequestBody:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CreateGithubAppInstallation"
    CrupdateGithubAppInstallationsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/GithubAppInstallation"
    PaymentMethodResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PaymentMethod"
    PagedLogs:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/Log"
    PojaVersionsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PojaVersion"
    PagedStacksResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Stack'
    PagedStackEvents:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/StackEvent'
    PagedStackOutputs:
      type: object
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/StackOutput'
    PagedDeploymentsResponse:
      allOf:
        - $ref: "#/components/schemas/PagedResponse"
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AppEnvDeployment"
    #############################################
    ###############  OneOf and AnyOf Components ############
    #############################################
    OneOfPojaConf:
      oneOf:
        - $ref: "#/components/schemas/PojaConf1"
    #############################################
    ###############  OneOf and AnyOf Components ############
    #############################################

    #############################################
    ###############  Exceptions #################
    #############################################
    ExceptionModel:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    BadRequestException:
      allOf:
        - $ref: '#/components/schemas/ExceptionModel'
      example:
        type: BadRequestException
        message: Bad request
    NotAuthorizedException:
      allOf:
        - $ref: '#/components/schemas/ExceptionModel'
      example:
        type: NotAuthorizedException
        message: Not authorized
    ResourceNotFoundException:
      allOf:
        - $ref: '#/components/schemas/ExceptionModel'
      example:
        type: ResourceNotFoundException
        message: Resource of type <T> identified by <I> not found
    TooManyRequestsException:
      allOf:
        - $ref: '#/components/schemas/ExceptionModel'
      example:
        type: TooManyRequestsException
        message: Too many requests
    InternalServerException:
      allOf:
        - $ref: '#/components/schemas/ExceptionModel'
      example:
        type: InternalServerException
        message: Unexpected error
