openapi: '3.0.2'
info:
  title: Poja Api
  version: 'latest'
servers:
  - url: https://api-poja.preprod.hei.school

paths:
  /ping:
    get:
      tags:
        - Health
      responses:
        '200':
          description: pong
          content:
            text/plain:
              schema:
                type: string
                example: pong
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /whoami:
    get:
      security:
        - bearerAuth: []
      tags:
        - Security
      summary: Who am I? Tells you who you are.
      operationId: whoami
      responses:
        '200':
          description: Who you are
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Whoami'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications:
    get:
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: query
          description: Filter applications by name, case insensitive
          schema:
            type: string
        - name: user_id
          in: query
          description: Filter applications by the id of the user who owns it
          schema:
            type: string
      tags:
        - Application
      summary: Get all applications
      responses:
        '200':
          description: List of all applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: []
      tags:
        - Application
      summary: Create or update applications
      description: update if id is provided, create otherwise.
      requestBody:
        required: true
        description: Application to crupdate
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CrupdateApplication'
      responses:
        '200':
          description: The created applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{id}:
    parameters:
      - name: id
        in: path
        description: The identifier of the application
        schema:
          type: string
        required: true
    get:
      security:
        - bearerAuth: []
      tags:
        - Application
      summary: Get an application by identifier
      responses:
        '200':
          description: The specified application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{id}/deployments:
    parameters:
      - name: id
        in: path
        description: The identifier of the application
        schema:
          type: string
        required: true
    get:
      security:
        - bearerAuth: []
      parameters:
        - name: environment_name
          in: query
          description: Filter deployments by the name of the environment, case insensitive
          schema:
            type: string
        - name: start_date_time
          in: query
          description: Filter deployments within a date and time range, must be used together with `end_date`
          schema:
            type: string
            format: date-time
        - name: end_date_time
          in: query
          description: Filter deployments within a date and time range, must be used together with `start_date`
          schema:
            type: string
            format: date-time
      tags:
        - Application
      summary: Get all deployments of an application
      responses:
        '200':
          description: List of deployments of an application
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      security:
        - bearerAuth: []
      tags:
        - Application
      summary: Initialize a deployment for a specified application
      requestBody:
        required: true
        description: Deployment to initialize
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentBase'
      responses:
        '200':
          description: The initialized deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{id}/deployments/{deployment_id}:
    parameters:
      - name: id
        in: path
        description: The identifier of the application
        schema:
          type: string
        required: true
      - name: deployment_id
        in: path
        description: The identifier of the deployment of the specified application
        schema:
          type: string
        required: true
    get:
      security:
        - bearerAuth: []
      tags:
        - Application
      summary: Get a deployment by identifier
      responses:
        '200':
          description: The specified deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      security:
        - bearerAuth: []
      tags:
        - Application
      summary: Retry a deployment specified by its id
      requestBody:
        description: The retry object associated to the specified deployment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRetry'
      responses:
        '200':
          description: The retry object associated to the specified deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Retry'

  /applications/{id}/env-vars:
    parameters:
      - name: id
        in: path
        description: The identifier of the application
        schema:
          type: string
        required: true
    get:
      security:
        - bearerAuth: []
      parameters:
        - name: environment_name
          in: query
          description: Filter environment variables by the name of the environment, case insensitive
          schema:
            type: string
      tags:
        - Application
      summary: Get environment variables of an application
      responses:
        '200':
          description: List of environment variables
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentVariable'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      security:
        - bearerAuth: []
      tags:
        - Application
      summary: Create or update environment variables
      description: update if id is provided, create otherwise.
      requestBody:
        required: true
        description: Environment variable to crupdate
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CrupdateEnvironmentVariable'
      responses:
        '200':
          description: The created environment variables
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentVariable'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{id}/env-vars/{env_var_id}:
    parameters:
      - name: id
        in: path
        description: The identifier of the application
        schema:
          type: string
        required: true
      - name: env_var_id
        in: path
        description: The identifier of the environment variable of the specified application
        schema:
          type: string
        required: true
    get:
      security:
        - bearerAuth: []
      tags:
        - Application
      summary: Get a environment variables by identifier
      responses:
        '200':
          description: The specified environment variable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{id}/logs:
    parameters:
      - name: id
        in: path
        description: The identifier of the application
        schema:
          type: string
        required: true
    get:
      security:
        - bearerAuth: []
      parameters:
        - name: environment_name
          in: query
          description: Filter logs by the name of the environment, case insensitive
          schema:
            type: string
        - name: log_type
          in: query
          description: Filter logs by log type, case insensitive
          schema:
            type: string
        - name: start_date_time
          in: query
          description: Filter logs within a date and time range, must be used together with `end_date`
          schema:
            type: string
            format: date-time
        - name: end_date_time
          in: query
          description: Filter logs within a date and time range, must be used together with `start_date`
          schema:
            type: string
            format: date-time
      tags:
        - Application
      summary: Get the logs of an application
      responses:
        '200':
          description: List of logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Log'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /applications/{id}/logs/{log_id}:
    parameters:
      - name: id
        in: path
        description: The identifier of the application
        schema:
          type: string
        required: true
      - name: log_id
        in: path
        description: The identifier of the log of the specified application
        schema:
          type: string
        required: true
    get:
      security:
        - bearerAuth: []
      tags:
        - Application
      summary: Get a logs by identifier
      responses:
        '200':
          description: The specified log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestException'
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotAuthorizedException'
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceNotFoundException'
    '429':
      description: Too many requests to the API
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TooManyRequestsException'
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalServerException'

  schemas:
    Whoami:
      properties:
        id:
          type: string
        role:
          type: string
          enum:
            - USER
            - ADMIN
        bearer:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
          example: Hajatiana
        last_name:
          type: string
          example: Randrianary
        email:
          type: string
          example: test@test.com
        username:
          type: string
          example: leonardo
        role:
          type: string
          enum:
            - USER
            - ADMIN
        plan:
          $ref: '#/components/schemas/Plan'
    ApplicationBase:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        archived:
          type: boolean
          default: false
        state:
          type: string
          enum:
            - ACTIVE
            - INACTIVE
          default: INACTIVE
    Application:
      allOf:
        - $ref: '#/components/schemas/ApplicationBase'
      properties:
        github_repository:
          type: string
          example: https://github.com/testUser/testRepo
        creation_datetime:
          type: string
          format: date-time
    CrupdateApplication:
      allOf:
        - $ref: '#/components/schemas/ApplicationBase'
      properties:
        user_id:
          type: string
    Environment:
      type: string
      enum:
        - PROD
        - PREPROD
    DeploymentBase:
      type: object
      properties:
        environment:
          $ref: '#/components/schemas/Environment'
        application_id:
          type: string
        archived:
          type: boolean
          default: false
    Deployment:
      allOf:
        - type: object
          properties:
            id:
              type: string
            deployment_datetime:
              type: string
              format: date-time
            deployment_status:
              type: string
              enum:
                - IN_PROGRESS
                - SUCCESS
                - FAILED
        - $ref: '#/components/schemas/DeploymentBase'
    RetryBase:
      type: object
      properties:
        retry_datetime:
          type: string
          format: date-time
        retry_status:
          type: string
          enum:
            - IN_PROGRESS
            - SUCCESS
            - FAILED
    Retry:
      allOf:
        - type: object
          properties:
            id:
              type: string
        - $ref: '#/components/schemas/RetryBase'
    CreateRetry:
      allOf:
        - $ref: '#/components/schemas/RetryBase'
        - type: object
          properties:
            deployment_id:
              type: string
    EnvironmentVariable:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: ENV_EXAMPLE
        value:
          oneOf:
            - type: string
            - type: boolean
            - type: number
        environment:
          $ref: '#/components/schemas/Environment'
        archived:
          type: boolean
          default: false
    CrupdateEnvironmentVariable:
      allOf:
        - $ref: '#/components/schemas/EnvironmentVariable'
      properties:
        application_id:
          type: string
    Log:
      type: object
      properties:
        id:
          type: string
        log_file_uri:
          type: string
          example: https://examplebucket.s3.eu-west-3.amazonaws.com/logfile
        log_datetime:
          type: string
          format: date-time
        log_type:
          type: string
          enum:
            - DEPLOYMENT_LOG
            - APPLICATION_LOG
        environment:
          $ref: '#/components/schemas/Environment'
        archived:
          type: boolean
          default: false
    Plan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        cost:
          type: number
    Exception:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    BadRequestException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: BadRequestException
        message: Bad request
    NotAuthorizedException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: NotAuthorizedException
        message: Not authorized
    ResourceNotFoundException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: ResourceNotFoundException
        message: Resource of type <T> identified by <I> not found
    TooManyRequestsException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: TooManyRequestsException
        message: Too many requests
    InternalServerException:
      allOf:
        - $ref: '#/components/schemas/Exception'
      example:
        type: InternalServerException
        message: Unexpected error
